*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 131, 136, 0.5),rgba(0, 131, 136, 0.5)),url(No_Poverty_with_Digital_Enterpronurship/images/poverty.jpeg);
    background-position: center;
    background-size: cover;
}
